</div>
<div class="well">
	<small><i>Remember these are scientific research results and shouldn't be treated as medical information. If you have any health concerns please speak to a doctor.</i></small>
</div>
</body>
</html>
