<TMPL_INCLUDE NAME="all_header.tmpl">
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <p class="navbar-text pull-right padded-nav-text"></p>
        </div>
    </div>
