    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <p class="navbar-text pull-right padded-nav-text"></p>
        </div>
    </div>
    <TMPL_IF NAME=QC_FLAG>
        <div class="warning">QCFLAG</div>
    </TMPL_IF>

