    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <p class="navbar-text pull-right padded-nav-text"></p>
        </div>
    </div>
    <TMPL_IF NAME=QC_FLAG>
        <div class="warning">Note: Your DNA sample produced low quality data.  Please interpret your results with caution, as we cannot be certain of their accuracy.</div>
    </TMPL_IF>

