<!-- error.tmpl -->
<TMPL_INCLUDE NAME="includes/header.tmpl">
  <div id="mainContainer-header" class="container">
    <div class="row">
      <div class="span4 pull-left">
        <h1>Error</h1>
      </div>
    </div>                                                                     
    <div class="row">
      <div class="span8">
	<pre>


	  <TMPL_VAR NAME=ERROR>

	</pre>
      </div>
    </div>                                                                 
  </div>
  <br />
  
<TMPL_INCLUDE NAME="includes/footer.tmpl">
    
