<form action="/dump" method="post">
    <input type="hidden" name="profile" value="<TMPL_VAR NAME=PUBLIC_ID>" />

    <button type="submit" class="btn btn-inverse">
        <i class="icon-search icon-white"></i> Download my Data
    </button>
</form>

